<template>
  <v-app>
    <div>
      <!--Bar-->
      <v-app-bar color="orange accent-4" dense dark>
        <v-toolbar-title>BAMBI INVENTORY</v-toolbar-title>

        <v-spacer></v-spacer>
        <!--Message in bar-->
        <v-spacer></v-spacer>

        <!--M.1-->
        <v-btn text>
          <v-text><NuxtLink to="/Profile" tag="buttom">Account</NuxtLink></v-text>
        </v-btn>
        <!--M.2-->
        <v-btn text>
          <v-text><NuxtLink to="/login" tag="buttom">Log out</NuxtLink></v-text>
        </v-btn>
      </v-app-bar>


<br>
      <!--Button-->
        <v-btn color="Orange" elevation="2" x-large outlined>
          <v-icon left> mdi-arrow-left </v-icon>
          <NuxtLink to="/main" tag="buttom">Back</NuxtLink>
        </v-btn>
      </div>
      <br>
    <div>
<!--Table-->
      <v-card>
        <v-card-title>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="desserts"
          :search="search"
        ></v-data-table>
      </v-card>
    </div>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      search: "",
      headers: [
        {
          text: "ID Product",
          align: "start",
          filterable: false,
          value: "ID",
        },
        { text: "Product Name", value: "Name" },
        { text: "Product Price", value: "Price" },
        { text: "Product Totalprice", value: "Total" },
        { text: "Product Quantity", value: "Quantity" },
        { text: "Date", value: "date" },
        { text: "Status", value: "status" },

        
      ],
        desserts: [
          {
            ID: 'A009',
           Name: 'Salmon',
           Price: '54000',
           Total: '104000',
           Quantity: '5 Tons',
           date: '20/12/2021',
           status: 'Finished',
          },
          {
            ID: 'A009',
           Name: 'Salmon',
           Price: '54000',
           Total: '104000',
           Quantity: '5 Tons',
           date: '20/12/2021',
           status: 'Finished',
          },
          {
            ID: 'A009',
           Name: 'Salmon',
           Price: '54000',
           Total: '104000',
           Quantity: '5 Tons',
           date: '20/12/2021',
           status: 'Finished',
          },
          {
            ID: 'A009',
           Name: 'Salmon',
           Price: '54000',
           Total: '104000',
           Quantity: '5 Tons',
           date: '20/12/2021',
           status: 'Finished',
          },
          {
            ID: 'A009',
           Name: 'Salmon',
           Price: '54000',
           Total: '104000',
           Quantity: '5 Tons',
           date: '20/12/2021',
           status: 'Finished',
          },
          {
            ID: 'A009',
           Name: 'Salmon',
           Price: '54000',
           Total: '104000',
           Quantity: '5 Tons',
           date: '20/12/2021',
           status: 'Finished',
          },
          {
            ID: 'A009',
           Name: 'Salmon',
           Price: '54000',
           Total: '104000',
           Quantity: '5 Tons',
           date: '20/12/2021',
           status: 'Finished',
          },
          {
            ID: 'A009',
           Name: 'Salmon',
           Price: '54000',
           Total: '104000',
           Quantity: '5 Tons',
           date: '20/12/2021',
           status: 'Finished',
          },
          {
           ID: 'A009',
           Name: 'Salmon',
           Price: '54000',
           Total: '104000',
           Quantity: '5 Tons',
           date: '20/12/2021',
           status: 'Finished',
          },
          {
           ID: 'A009',
           Name: 'Salmon',
           Price: '54000',
           Total: '104000',
           Quantity: '5 Tons',
           date: '20/12/2021',
           status: 'Finished',
          },
        ],
      }
    },
  }
</script>