<template>
<v-app>
   
<!--Bar-->
  <div>
  <v-app-bar
      color="deep-orange  accent-4"
      dense
      dark
  >

<!--Name Bar-->
  <v-toolbar-title>BAMBI INVENTORY</v-toolbar-title>

<!--Message in bar-->
  <v-spacer></v-spacer>

<!--M.1-->
  <v-btn text>
  <v-text><NuxtLink to="/Login" tag="buttom">LOG IN</NuxtLink></v-text>
  </v-btn>

<!--M.2-->
  <v-btn text>
  <v-text>ABOUT US</v-text>
  </v-btn>

<!--M.3-->
  <v-btn text>
  <v-text>FAQ</v-text>
  </v-btn>

<!--M.4-->
  <v-btn text>
  <v-text>CONTACT</v-text>
  </v-btn>

  </v-app-bar>
  </div>
<!--End bar-->
<!------------------------------------------------------------------------------------------->
  
<!--Background image-->
  <v-parallax
    dark
    src="https://media.crystallize.com/shaka-surf/21/3/11/1/@1600/shipping-min.webp"
  >

<!--Text in image-->
  <v-row
    align="center"
    justify="center"
  >
  <v-col
       
    cols="12"
  >
  <div class="black--text">
    <h1 class="indent5">
      <div class="F1">
        Welcome to........
        </div>
    </h1>

    <h1 class="indent5">
      <div class="F2">
         BAMBI INVENTORY
      </div>
    </h1>
  </div>
<!--Button in image-->
  <div class="indent5">
  <v-btn 
      rounded
      color="#F5473C"
      dark
  >
     <h6 > 
       
       <NuxtLink to="/Login" tag="buttom">Register</NuxtLink>
     <v-icon>mdi-arrow-right</v-icon></h6>

    </v-btn>
  </div>
  </v-col>
  </v-row>

<!--end back-->
  </v-parallax>
<!------------------------------------------------------------------------------------------->

<!--Message1-->
  <div class="text-left">
    <v-text
      rounded
      color="#F5473C"
      dark
    >
    <br>
    <br>
    <div class="h11">
     <h1 class="indent5">ABOUT US</h1></div>
    </v-text>
  </div>


<!--Message2-->
  <div class="text-left">
    <v-text
      rounded
      color="#F5473C"
      dark
    >
    
    <br>
     <h3 class="indent5">
       <p>large warehouse Suitable for those who want </p>
       <p>to store large quantities of goods or do not </p> 
       <p>have a storage space. Products can be </p>
       <p>deposited at our warehouse according to the </p>
       <p>contract. The price is affordable, friendly and </p>
       <p>there is a security system for both user </p>
       <p>accounts and products.</p>
       <br>
       <br>

       </h3>
    </v-text>
  </div>
  
<!--Message3-->
  <div class="text-1">
    <v-text
      rounded
      color="#F5473C"
      dark
    >
    <br>
     <h3 class="indent5">
       <v-card 
    color="#F5473C"
    max-width="500">

       <br>
       <p>What do I need to do if I want to deposit my </p>
       <p>goods in your warehouse? </p>     
       <br>
       </v-card>
       <br>
       <br>
       </h3>
    </v-text>
  </div>

  <!--Message4-->
  <div class="text-left">
    <v-text
      rounded
      color="#F5473C"
      dark
    >
    <br>
     <h1 class="indent6">
       <div class="h11">
       <br>
       <br>
       <p>HOW TO USE </p></div>
       </h1>
    </v-text>
  </div>

  <!--Message5-->
  <div class="text-left">
    <v-text
      rounded
      color="#F5473C"
      dark
    >

     <h3 class="indent6">
       <p>You must sign up for an account to log in. for the</p>
       <p>accuracy and efficiency of the data collection You </p> 
       <p>should fill out the information truthfully. Once you </p> 
       <p>have applied We will review the information and</p> 
       <p>record it in our archives. You can come to our</p> 
       <p>warehouse near you to contact and conclude an </p> 
       <p>agreement. It is important that the person applying</p> 
       <p>for the account must come by himself.</p>
       <br>
       <br>
       </h3>
    </v-text>
  </div>
      
   <!--Message6-->
  <div class="text-left">
    <v-text
      rounded
      color="#F5473C"
      dark
    >
    <br>
     <h1 class="indent5">
     <div class="h11">
       <br>
       <br>
       <p>FAQ </p></div>
       </h1>
    </v-text>
  </div>

<!--Message7-->
  <div class="text-left">
    <v-text
      rounded
      color="#F5473C"
      dark
    >
  
     <h2 class="indent5">
       <p>Questions and Answers About our warehouse </p>
       </h2>
    </v-text>
  </div>

<!--img1-->
<div  class="Bb" ALIGN = "RIGHT">
 <v-img
  lazy-src="https://www.christianaz.com/assets/img/gallery/about-us.png"
  max-height="500"
  max-width="550"
  src="https://www.christianaz.com/assets/img/gallery/about-us.png" 
></v-img>
  </div>

<!--img2***-->
<div  class="ad" ALIGN = "Left">
 <v-img
  lazy-src="https://www.christianaz.com/assets/img/gallery/how-to-apply.png"
  max-height="400"
  max-width="450"
  src="https://www.christianaz.com/assets/img/gallery/how-to-apply.png" 
></v-img>
  </div>

<!--img3-->
<div  class="pl" ALIGN = "RIGHT">
 <v-img
  lazy-src="https://www.christianaz.com/assets/img/gallery/faq.png"
  max-height="500"
  max-width="550"
  src="https://www.christianaz.com/assets/img/gallery/faq.png" 
></v-img>
  </div>

<!--pop1-->
<div class="Bb2">
 <v-card
    max-width="344"
  >
    <v-card-text>
      <div>Questions 1</div>
      <div class="text--primary">
       What day and time can we go to the warehouse?
      </div>
    </v-card-text>
    <v-card-actions>
      <v-btn
        text
        color="teal accent-4"
        @click="reveal = true"
      >
        Learn More
      </v-btn>
    </v-card-actions>

    <v-expand-transition>
      <v-card
        v-if="reveal"
        class="transition-fast-in-fast-out v-card--reveal"
        style="height: 110%;"
      >
        <v-card-text class="pb-0">        
          <p>You can come in every day from 9:00 a.m. - 5:00 p.m. The best thing is Call or text to inquire about the day and time you want to come. </p>
        </v-card-text>
        <v-card-actions class="pt-0">
          <v-btn
            text
            color="teal accent-4"
            @click="reveal = false"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-expand-transition>
  </v-card>
</div>
   
   <br>
  <!--pop2-->
   <div class="Bb2">
 <v-card
    
    max-width="344"
  >
    <v-card-text>
      <div>Questions 2</div>
      <div class="text--primary">
      What happens if past the due date?
      </div>
    </v-card-text>
    <v-card-actions>
      <v-btn
        text
        color="teal accent-4"
        @click="reveal = true"
      >
        Learn More
      </v-btn>
    </v-card-actions>

    <v-expand-transition>
      <v-card
        v-if="reveal"
        class="transition-fast-in-fast-out v-card--reveal"
        style="height: 110%;"
      >
        <v-card-text class="pb-0">        
          <h5><p>We will inform and increase the service fee as agreed. If you want to continue depositing your goods We will charge an additional fee based on the deposit date.</p></h5>
        </v-card-text>
        <v-card-actions class="pt-0">
          <v-btn
            text
            color="teal accent-4"
            @click="reveal = false"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-expand-transition>
  </v-card>
  </div>

  <br>
   <!--pop3--> 
<div class="Bb2">
 <v-card
    max-width="344"
  >
    <v-card-text>
      <div>Questions 3</div>
      <div class="text--primary">
      Is there a minimum deposit limit?
      </div>
    </v-card-text>
    <v-card-actions>
      <v-btn
        text
        color="teal accent-4"
        @click="reveal = true"
      >
        Learn More
      </v-btn>
    </v-card-actions>

    <v-expand-transition>
      <v-card
        v-if="reveal"
        class="transition-fast-in-fast-out v-card--reveal"
        style="height: 100%;"
      >
        <v-card-text class="pb-0">        
          <p>MOQ is weighs more than 1 Tons.</p>
        </v-card-text>
        <v-card-actions class="pt-0">
          <v-btn
            text
            color="teal accent-4"
            @click="reveal = false"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-expand-transition>
  </v-card>
</div>

  <br>
   <!--pop4-->
<div class="Bb2">
 <v-card

    max-width="344"
  >
    <v-card-text>
      <div>Questions 4</div>
      <div class="text--primary">
       What is the maximum for warehouse storge?
      </div>
    </v-card-text>
    <v-card-actions>
      <v-btn
        text
        color="teal accent-4"
        @click="reveal = true"
      >
        Learn More
      </v-btn>
    </v-card-actions>

    <v-expand-transition>
      <v-card
        v-if="reveal"
        class="transition-fast-in-fast-out v-card--reveal"
        style="height: 100%;"
      >
        <v-card-text class="pb-0">        
          <p>No more than 1000 Tons/1 place. </p>
        </v-card-text>
        <v-card-actions class="pt-0">
          <v-btn
            text
            color="teal accent-4"
            @click="reveal = false"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-expand-transition>
  </v-card>
</div>

  <br>
   <!--pop5-->
<div class="Bb2">
 <v-card
   
    max-width="344"
  >
    <v-card-text>
      <div>Questions 5</div>
      <div class="text--primary">
       Where can you contact with me?
      </div>
    </v-card-text>
    <v-card-actions>
      <v-btn
        text
        color="teal accent-4"
        @click="reveal = true"
      >
        Learn More
      </v-btn>
    </v-card-actions>

    <v-expand-transition>
      <v-card
        v-if="reveal"
        class="transition-fast-in-fast-out v-card--reveal"
        style="height: 100%;"
      >
        <v-card-text class="pb-0">        
         <h5> <p> Email:6331305009@lamduan.mfu.ac.th </p>
<p>hone number : +(66) 88 778 3809</p></h5>
        </v-card-text>
        <v-card-actions class="pt-0">
          <v-btn
            text
            color="teal accent-4"
            @click="reveal = false"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-expand-transition>
  </v-card>
</div>

  <br>
   <!--pop6-->
   <div class="Bb3">
 <v-card
    max-width="344"
  >
    <v-card-text>
      <div>Questions 6</div>
      <div class="text--primary">
      How many days/month/year can you deposit?
      </div>
    </v-card-text>
    <v-card-actions>
      <v-btn
        text
        color="teal accent-4"
        @click="reveal = true"
      >
        Learn More
      </v-btn>
    </v-card-actions>

    <v-expand-transition>
      <v-card
        v-if="reveal"
        class="transition-fast-in-fast-out v-card--reveal"
        style="height: 100%;"
      >
        <v-card-text class="pb-0">               
<h5><p>10 days before the expiration date of the deposited product or not later than the expiration date of the product</p></h5>
        </v-card-text>
        <v-card-actions class="pt-0">
          <v-btn
            text
            color="teal accent-4"
            @click="reveal = false"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-expand-transition>
  </v-card>
  </div>

  <br>
   <!--pop7-->
   <div class="Bb3">
 <v-card

    max-width="344"
  >
    <v-card-text>
      <div>Questions 7</div>
      <div class="text--primary">
       What is the cost of loading and unloading goods?
      </div>
    </v-card-text>
    <v-card-actions>
      <v-btn
        text
        color="teal accent-4"
        @click="reveal = true"
      >
        Learn More
      </v-btn>
    </v-card-actions>

    <v-expand-transition>
      <v-card
        v-if="reveal"
        class="transition-fast-in-fast-out v-card--reveal"
        style="height: 100%;"
      >
        <v-card-text class="pb-0">        
          <p>Depending on the size of the vehicle used to transport the goods</p>
        </v-card-text>
        <v-card-actions class="pt-0">
          <v-btn
            text
            color="teal accent-4"
            @click="reveal = false"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-expand-transition>
  </v-card>
   </div>

  <br>
   <!--pop8-->
   <div class="Bb3">
 <v-card
    max-width="344"
  >
    <v-card-text>
      <div>Questions 8</div>
      <div class="text--primary">
       What is the cost of pallets?(in renting)
      </div>
    </v-card-text>
    <v-card-actions>
      <v-btn
        text
        color="teal accent-4"
        @click="reveal = true"
      >
        Learn More
      </v-btn>
    </v-card-actions>

    <v-expand-transition>
      <v-card
        v-if="reveal"
        class="transition-fast-in-fast-out v-card--reveal"
        style="height: 100%;"
      >
        <v-card-text class="pb-0">        
          <p>Depends on pallet type and usage (piece price)</p>
        </v-card-text>
        <v-card-actions class="pt-0">
          <v-btn
            text
            color="teal accent-4"
            @click="reveal = false"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-expand-transition>
  </v-card>
   </div>

  <br>
   <!--pop9-->
   <div class="Bb3">
 <v-card
    max-width="344"
  >
    <v-card-text>
      <div>Questions 9</div>
      <div class="text--primary">
      Deposisit price (daily,monthly,yearly)
      </div>
    </v-card-text>
    <v-card-actions>
      <v-btn
        text
        color="teal accent-4"
        @click="reveal = true"
      >
        Learn More
      </v-btn>
    </v-card-actions>

    <v-expand-transition>
      <v-card
        v-if="reveal"
        class="transition-fast-in-fast-out v-card--reveal"
        style="height: 100%;"
      >
        <v-card-text class="pb-0">        
          <p>Depends on the weight/number of goods deposited</p>
        </v-card-text>
        <v-card-actions class="pt-0">
          <v-btn
            text
            color="teal accent-4"
            @click="reveal = false"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-expand-transition>
  </v-card>
   </div>

  <br>
  

  <!--pop10-->
   <div class="Bb3">
 <v-card  
    max-width="344"
  >
    <v-card-text>
      <div>Questions 10</div>
      <div class="text--primary">
      If the goods are damaged due to the warehouse work, how will they be compensated?
      </div>
    </v-card-text>
    <v-card-actions>
      <v-btn
        text
        color="teal accent-4"
        @click="reveal = true"
      >
        Learn More
      </v-btn>
    </v-card-actions>

    <v-expand-transition>
      <v-card
        v-if="reveal"
         class="transition-fast-in-fast-out v-card--reveal"
        style="height: 100%;"
      >
        <v-card-text class="pb-0">        
          <p>See the condition of the goods and compensate according to the agreed value of the goods.</p>
        </v-card-text>
        <v-card-actions class="pt-0">
          <v-btn
            text
            color="teal accent-4"
            @click="reveal = false"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-expand-transition>
  </v-card>
   </div>

<!--img4-->
<div  class="Bb4" ALIGN = "RIGHT">
 <v-img
 img height="300px"
 img2 width="600px"
  lazy-src="https://www.krp.ca/wp-content/uploads/2021/10/Supply-chain-495x400.jpg"
  max-height="500"
  max-width="550"
  src="https://www.krp.ca/wp-content/uploads/2021/10/Supply-chain-495x400.jpg" 
></v-img>
  </div>

  <!--img5-->
<div  class="Bb5" ALIGN = "RIGHT">
 <v-img
 img height="300px"
 img2 width="600px"
  lazy-src="https://wonderley.io/static/ea3ad13e74e1f9e124e7c6ae55f94789/23f4e/shipping-port-dark.jpg"
  max-height="500"
  max-width="550"
  src="https://wonderley.io/static/ea3ad13e74e1f9e124e7c6ae55f94789/23f4e/shipping-port-dark.jpg" 
></v-img>
  </div>

<!--Message8-->
  <div class="text-Bb">
    <v-text
      rounded
      color="#F5473C"
      dark
    >
    <br>
     <h1 class="indent6">
       <div class="h11">
       <br>
       <br>
       <p>Large warehouse on land </p></div>
       </h1>
    </v-text>
  </div>

  <!--Message9-->
  <div class="text-Bb">
    <v-text
      rounded
      color="#F5473C"
      dark
    >

     <h3 class="indent6">
       <p>The warehouse is large and suitable for land transportation.</p>
       <br>
       <br>
       </h3>
    </v-text>
  </div>

<!--Message10-->
  <div class="text-Bb1">
    <v-text
      rounded
      color="#F5473C"
      dark
    >
    <br>
    <br>
    <div class="h11">
     <h1 class="indent5">Warehouse near the water</h1></div>
    </v-text>
  </div>


<!--Message11-->
  <div class="text-Bb1">
    <v-text
      rounded
      color="#F5473C"
      dark
    >
    
    <br>
     <h3 class="indent5">
       <p>The warehouse is large and suitable for shipping by ship.</p>
       <br>
       <br>

       </h3>
    </v-text>
  </div>

<!--Message12-->
 <div class="text-Bb2">
    <v-text
      rounded
      color="#F5473C"
      dark
    >
    <br>
    <br>
    <div class="h11">
     <h1 class="indent5">Contact
       <br></h1></div>
    </v-text>
  </div>
<br>
<br>
<!--Contact1-->

<div class="text-Bb6">
   <v-card
    class="mx-auto"
    max-width="340"
  >
    <v-card-text>
      <div ALIGN = "center">PHONE</div>  
      <br>
      <br>
      <div class="text--primary">
       <div ALIGN = "center"> +(66) 88 778 3809</div>
       <br>
       <br>
       <br>
      </div>
    </v-card-text>
  </v-card>
</div>

  <!--Contact2-->
<div class="text-Bb4">
   <v-card
    class="mx-auto"
    max-width="340"
  >
    <v-card-text>
      <div ALIGN = "center">ADDRESS</div>  
      <br>
      <br>
      <div class="text--primary">
       <div ALIGN = "center"> Chiang Rai, Thailand</div>
       <br>
       <br>
       <br>
      </div>
    </v-card-text>
  </v-card>
</div>

<!--Contact3-->
<div class="text-Bb5">
   <v-card
    class="mx-auto"
    max-width="340"
  >
    <v-card-text>
      <div ALIGN = "center">EMAIL</div>  
      <br>
      <div class="text--primary">
       <div ALIGN = "center"> <p>6331305009@lamduan.mfu.ac.th</p>
<p>6331305019@lamduan.mfu.ac.th</p>
<p>6331305027@lamduan.mfu.ac.th</p></div>
      </div>
    </v-card-text>
  </v-card>
</div>

  <!--end Temp-->
</v-app>
</template>
<!------------------------------------------------------------------------------------------->


<script>
  export default {
    data: () => ({
      model: null,
      classes: [
        ['h1', 'Heading 1', '7rem', '400', '-.015625em', -1],
        ['h2', 'Heading 2', '3.75rem', '300', '-.0083333333em', 0],
        ['h3', 'Heading 3', '3rem', '400', 'normal', 1],
        ['h4', 'Heading 4', '2.125rem', '400', '.0073529412em', 2],
        ['h5', 'Heading 5', '1.5rem', '400', 'normal', 2],
        ['h6', 'Heading 6', '1.25rem', '500', '.0125em', 3],
        ['subtitle-1', 'Subtitle 1', '1rem', '400', '.009375em', 4],
        ['subtitle-2', 'Subtitle 2', '0.875rem', '500', '.0071428571em', 4],
        ['body-1', 'Body 1', '1rem', '400', '.03125em', 4],
        ['body-2', 'Body 2', '0.875rem', '400', '.0178571429em', 4],
        ['button', 'Button', '0.875rem', '500', '.0892857143em', 4],
        ['caption', 'Caption', '0.75rem', '400', '.0333333333em', 4],
        ['overline', 'Overline', '0.75rem', '500', '.1666666667em', 4],
        
      ],
    }),
     data: () => ({
      reveal: false,
    }),
  }
  
</script>
<!------------------------------------------------------------------------------------------->


<style>
.CSS 
/* size*/ 
.indent1{  
   text-indent: -30px;  
}
.indent2{  
   text-indent: 30px; 
}
.indent3{  
   text-indent: 30%; 
} 
.indent4{  
   text-indent: -30%;  
}
.indent5{
  text-indent: 20%;
}
.indent6{
  text-indent: 50%;
}

.black--text  label {
    color: black(0, 0, 0);
}


.Bb{
  position: relative;
  bottom: 1400px;
  right: 100px;
}

.Bb2{
  position: relative;
  bottom: 1100px;
  left: 100px;
}

.Bb3{
  position: relative;
  bottom: 1860px;
  left: 500px;
}

.Bb4{
  position: relative;
  bottom: 1800px;
  right: 850px;
}

.Bb5{
  position: relative;
  bottom: 1700px;
  right: 150px;
}


.ad{
  position: relative;
  bottom: 1150px;
  left: 100px;
}

.pl{
  position: relative;
  bottom: 1000px;
  right: 100px;
}

.text-1{
  position: relative;
  left: 200px;
}

.text-2{
  position: relative;
  left:100px;
}

.text-Bb{
  position: relative;
  bottom: 2450px;
  right: 30px;
}

.text-Bb1{
  position: relative;
  bottom: 2250px;
  right: 180px;
}

.text-Bb2{
  position: relative;
  bottom: 2000px;
  right: -400px;
}

.text-Bb3{
  position: relative;
  bottom: 2100px;
  right: 400px;
}

.text-Bb4{
  position: relative;
  bottom: 2180px;
  right: 400px;
}

.text-Bb5{
  position: relative;
  bottom: 2370px;
  right: 10px;
}

.text-Bb6{
  position: relative;
  bottom: 2000px;
  right:-400px;
}

.h11{
  color:rgb(197, 56, 5);
}

.F1{
  font-size: 48pt;
}

.F2{
  font-size: 46pt;
}

.v-card--reveal {
  bottom: 0;
  opacity: 1 !important;
  position: absolute;
  width: 100%;
}

</style>
<!------------------------------------------------------------------------------------------->