<template>
  <v-app id="inspire">
    <div class="background">
      <v-app-bar color="deep-orange" dark>


        <v-toolbar-title>Bambi Inventory</v-toolbar-title>
      </v-app-bar>

      <v-content class="pt-16">
        <v-container class="fill-height" fluid>
          <v-row align="center" justify="center">
            <v-col cols="12" sm="8" md="8">
              <v-card class="elevation-12">
                <v-window v-model="step">
                  <v-window-item :value="1">
                    <v-row>
                      <v-col cols="12" md="8" color="orange">
                        <v-card-text class="mt-12">
                          <h5
                            class="
                              text-center
                              display-2


                            "
>
                            Sign in to Bambi inventory
                          </h5>
                          <div class="text-center mt-4">
                            <v-btn class="mx-2" fab color="blue" outlined>
                              <v-icon size="40px">mdi-facebook</v-icon>
                            </v-btn>

                            <v-btn class="mx-2" fab color="red" outlined>
                              <v-icon size="40px">mdi-google-plus</v-icon>
                            </v-btn>
                            <v-btn class="mx-2" fab color="lightblue" outlined>
                              <v-icon size="40px">mdi-linkedin</v-icon>
                            </v-btn>
                          </div>
                          <h4 class="text-center mt-4">
                            Ensure your email for registration
                          </h4>
                          <v-form>
                            <v-text-field
                              label="Email"
                              name="Email"
                              type="text"
                              color="deep-orange darken-2"
                            />
<v-text-field
                              id="password"
                              label="Password"
                              name="password"
                              type="password"
                              color="deep-orange darken-2"
                            />
                          </v-form>
                          <h3 class="text-center mt-4">
                            Forgot your password ?
                          </h3>
                        </v-card-text>
                        <div class="text-center mt-3">
                          <v-btn rounded color="deep-orange darken-2" dark
                            ><NuxtLink to="/main" tag="button">SIGN IN</NuxtLink></v-btn
                          >
                          <br>
                          <br>
                        </div>
                      </v-col>
                      <v-col cols="12" md="4" class="deep-orange darken-2">
                        <v-card-text class="white--text mt-12">
                          <h1 class="text-center display-1">Hello, Friend!</h1>
                          <h5 class="text-center">
                            Enter your personal details and start journay with
                            us
                          </h5>
                        </v-card-text>
                        <div class="text-center">
                          <v-btn rounded outlined dark @click="step++"
                            >SIGN UP</v-btn
                          >
                          <br>
                          <br>
                        </div>
                      </v-col>
</v-row>
                  </v-window-item>
                  <v-window-item :value="2">
                    <v-row class="fill-height">
                      <v-col cols="12" md="4" class="deep-orange darken-2">
                        <v-card-text class="white--text mt-12">
                          <h1 class="text-center display-1">Welcome Back!</h1>
                          <h5 class="text-center">
                            To Keep connected with us please login with your
                            personnel info
                          </h5>
                        </v-card-text>
                        <div class="text-center">
                          <v-btn rounded outlined dark @click="step--"
                            >Sign in</v-btn
                          >
                          <br>
                          <br>
                        </div>
                      </v-col>

                      <v-col cols="12" md="8">
                        <v-card-text class="mt-12">
                          <h1
                            class="
                              text-center
                              display-2

                            "
                          >
                            Create Account
                          </h1>
                          <div class="text-center mt-4">
                            <v-btn class="mx-2" fab color="blue" outlined>
                              <v-icon size="40px">mdi-facebook</v-icon>
                            </v-btn>
<v-btn class="mx-2" fab color="red" outlined>
                              <v-icon size="40px">mdi-google-plus</v-icon>
                            </v-btn>
                            <v-btn class="mx-2" fab color="lightblue" outlined>
                              <v-icon size="40px">mdi-linkedin</v-icon>
                            </v-btn>
                          </div>
                          <h4 class="text-center mt-4">
                            Ensure your email for registration
                          </h4>
                            <v-row>
                            <v-col cols="12" sm="6" md="6">
                              <v-text-field v-model="Firstname" color="deep-orange darken-2" label="Firstname"></v-text-field>
                            </v-col>
                            <v-col  cols="12" sm="6" md="6">
                              <v-text-field v-model="Lastname" color="deep-orange darken-2" label="lastname"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="6">
                              <v-text-field v-model="PhoneNumber" color="deep-orange darken-2" label="Phone Number"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="6">
                              <v-text-field v-model="Email" color="deep-orange darken-2" label="Email Address"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="6">
                              <v-text-field v-model="Password" color="deep-orange darken-2" label="Password"></v-text-field>
                            </v-col>
</v-row>
                        </v-card-text>
                        <div class="text-center mt-n5">
                          <br>
                          <v-btn rounded color="deep-orange darken-2" dark
                            @click="SignUp">SIGN UP</v-btn
                          >
                          <br>
                          <br>
                        </div>
                      </v-col>
                    </v-row>
                  </v-window-item>
                </v-window>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-content>
    </div>
  </v-app>
</template>
<script>
//const url = "http://localhost:3000/";
import Axios from 'axios';
export default {
  data: () => ({
    Firstname:"",
    Lastname:"",
    PhoneNumber:"",
    Email:"",
    password:"",
    step: 1,
  }),
  props: {
    source: String,
  },
  methods: {
    SignUp(){
      Axios.post(URL + "/api/register",{
        User_firstname:this.Firstname,
        User_lastname:this.Lastname,
        User_email:this.Email,
        User_phone:this.PhoneNumber,
        User_password:this.Password,
      })
      .then((User_data) => {
        console.log(User_data)
        alert("Register Successful")
        this.$router.push({
          path: "/main",
        });
      })
      .catch((error) => {
        alert(error);
      });
    }

  },
};

</script>
<style>
.background {
  height: 140vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 70% 50%;
  background-image: url("../assets/bg2.jpg");
}
</style>