<template>
  <v-app>
    <div>
      <!--Bar-->
      <v-app-bar color="orange accent-4" dense dark>
        <v-toolbar-title>BAMBI INVENTORY</v-toolbar-title>

        <v-spacer></v-spacer>
        <!--Message in bar-->
        <v-spacer></v-spacer>

        <!--M.1-->
        <v-btn text>
          <v-text><NuxtLink to="/Profile" tag="buttom">Account</NuxtLink></v-text>
        </v-btn>
        <!--M.2-->
        <v-btn text>
          <v-text><NuxtLink to="/login" tag="buttom">Log out</NuxtLink></v-text>
        </v-btn>
      </v-app-bar>

      <!--Button-->
      <div ALIGN="Left">
        <br />
        <v-btn class="text--orange" elevation="2" x-large outlined>
          <v-icon left> mdi-folder-table </v-icon>
          <NuxtLink to="/History" tag="buttom">Product history</NuxtLink>
        </v-btn>

      </div>

      <!--Button-->
      <div ALIGN="RIGHT">

        <v-btn class="text--orange" elevation="2" x-large outlined>
          <v-icon left> mdi-pencil </v-icon>
          <NuxtLink to="/Product" tag="buttom">Add Product</NuxtLink>
        </v-btn>

        <v-btn color="Orange" elevation="2" x-large outlined>
          <v-icon left> mdi-pencil </v-icon>
          <NuxtLink to="/report" tag="buttom">Report</NuxtLink>
        </v-btn>
      </div>
      <br />
    </div>
    <div>
      <!--Table-->
      <v-card>
        <v-card-title>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="desserts"
          :search="search"
        ></v-data-table>
      </v-card>

    <!--M.3-->
    <div class="Bb">
        <v-btn text>
          <v-text><NuxtLink to="/History" tag="buttom">Select</NuxtLink></v-text>
        </v-btn>
    </div>

    <!--M.4-->
    <div class="Bb2">
        <v-btn text>
          <v-text><NuxtLink to="/History" tag="buttom">Select</NuxtLink></v-text>
        </v-btn>
    </div>

    <!--M.5-->
    <div class="Bb3">
        <v-btn text>
          <v-text><NuxtLink to="/History" tag="buttom">Select</NuxtLink></v-text>
        </v-btn>
    </div>

    <!--M.6-->
    <div class="Bb4">
        <v-btn text>
          <v-text><NuxtLink to="/History" tag="buttom">Select</NuxtLink></v-text>
        </v-btn>
    </div>

    <!--M.7-->
    <div class="Bb5">
        <v-btn text>
          <v-text><NuxtLink to="/History" tag="buttom">Select</NuxtLink></v-text>
        </v-btn>
    </div>

    <!--M.8-->
    <div class="Bb6">
        <v-btn text>
          <v-text><NuxtLink to="/History" tag="buttom">Select</NuxtLink></v-text>
        </v-btn>
    </div>

    <!--M.9-->
    <div class="Bb7">
        <v-btn text>
          <v-text><NuxtLink to="/History" tag="buttom">Select</NuxtLink></v-text>
        </v-btn>
    </div>

<!--M.10-->
    <div class="Bb8">
        <v-btn text>
          <v-text><NuxtLink to="/History" tag="buttom">Select</NuxtLink></v-text>
        </v-btn>
    </div>

    <!--M.11-->
    <div class="Bb9">
        <v-btn text>
          <v-text><NuxtLink to="/History" tag="buttom">Select</NuxtLink></v-text>
        </v-btn>
    </div>

    <!--M.12-->
    <div class="Bb10">
        <v-btn text>
          <v-text><NuxtLink to="/History" tag="buttom">Select</NuxtLink></v-text>
        </v-btn>
    </div>


    </div>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      search: "",
      headers: [
        {
          text: "ID Product",
          align: "start",
          filterable: false,
          value: "ID",
        },
        { text: "Product Name", value: "Name" },
        { text: "Product Price", value: "Price" },
        { text: "Product Totalprice", value: "Total" },
        { text: "Product Quantity", value: "Quantity" },
        { text: "Date", value: "date" },
        { text: "Status", value: "status" },
         { text: "Move out", value: "Move" },
        
      ],
        desserts: [
          {
            ID: 'A009',
           Name: 'Salmon',
           Price: '54000',
           Total: '104000',
           Quantity: '5 Tons',
           date: '20/12/2021',
           status: 'Finished',
          },
          {
            ID: 'A009',
           Name: 'Salmon',
           Price: '54000',
           Total: '104000',
           Quantity: '5 Tons',
           date: '20/12/2021',
           status: 'Finished',
          },
          {
            ID: 'A009',
           Name: 'Salmon',
           Price: '54000',
           Total: '104000',
           Quantity: '5 Tons',
           date: '20/12/2021',
           status: 'Finished',
          },
          {
            ID: 'A009',
           Name: 'Salmon',
           Price: '54000',
           Total: '104000',
           Quantity: '5 Tons',
           date: '20/12/2021',
           status: 'Finished',
          },
          {
            ID: 'A009',
           Name: 'Salmon',
           Price: '54000',
           Total: '104000',
           Quantity: '5 Tons',
           date: '20/12/2021',
           status: 'Finished',
          },
          {
            ID: 'A009',
           Name: 'Salmon',
           Price: '54000',
           Total: '104000',
           Quantity: '5 Tons',
           date: '20/12/2021',
           status: 'Finished',
          },
          {
            ID: 'A009',
           Name: 'Salmon',
           Price: '54000',
           Total: '104000',
           Quantity: '5 Tons',
           date: '20/12/2021',
           status: 'Finished',
          },
          {
            ID: 'A009',
           Name: 'Salmon',
           Price: '54000',
           Total: '104000',
           Quantity: '5 Tons',
           date: '20/12/2021',
           status: 'Finished',
          },
          {
           ID: 'A009',
           Name: 'Salmon',
           Price: '54000',
           Total: '104000',
           Quantity: '5 Tons',
           date: '20/12/2021',
           status: 'Finished',
          },
          {
           ID: 'A009',
           Name: 'Salmon',
           Price: '54000',
           Total: '104000',
           Quantity: '5 Tons',
           date: '20/12/2021',
           status: 'Finished',
          },
        ],
      }
    },
  }
</script>

<style>
.Bb{
  position: relative;
  bottom: 535px;
  right: -1350px;
}

.Bb2{
  position: relative;
  bottom: 520px;
  right: -1350px;
}

.Bb3{
  position: relative;
  bottom: 510px;
  right: -1350px;
}

.Bb4{
  position: relative;
  bottom: 500px;
  right: -1350px;
}

.Bb5{
  position: relative;
  bottom: 485px;
  right: -1350px;
}

.Bb6{
  position: relative;
  bottom: 380px;
  right: -1350px;
}

.Bb7{
  position: relative;
  bottom: 365px;
  right: -1350px;
}

.Bb8{
  position: relative;
  bottom: 355px;
  right: -1350px;
}

.Bb9{
  position: relative;
  bottom: 535px;
  right: -1350px;
}

.Bb10{
  position: relative;
  bottom: 618px;
  right: -1350px;
}
</style>