<template>
  <v-app id="inspire">
    <div class="background">
      <v-app-bar color="deep-orange" dark>
       

        <v-toolbar-title>Bambi Inventory</v-toolbar-title>
      </v-app-bar>

      <v-content class="pt-10">
        <v-container class="fill-height" fluid>
          <v-row align="center" justify="center">
            <v-col cols="12" sm="8" md="11">
              <v-card class="elevation-12">
                <v-window v-model="step">
                  <v-window-item :value="1">
                    <v-row>
                      <v-col cols="12" md="4" color="orange">
                        <br />
                        <br />
                        <br />
                        <div class="image">
                          <v-img
                            lazy-src="https://icon-library.com/images/profile-icon-white/profile-icon-white-22.jpg"
                            max-height="300"
                            max-width="300"
                            src="https://icon-library.com/images/profile-icon-white/profile-icon-white-22.jpg"
                          ></v-img>
                        </div>
                        <br />
                        <br />
                        <div class="button">
                          <v-btn rounded outlined dark>Upload Image</v-btn>
                        </div>
                        <br />
                        <br />
                        <br />
                      </v-col>
                      <v-col cols="12" md="8" class="deep-orange darken-2">
                        <br>
                        <div class="text">
                        <h1 class="text-center display-1">My account</h1>
                        </div>
                        <br>
                        <v-row>
                          <v-col cols="2">
                            <v-subheader
                              >Firstname</v-subheader>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field                             
                              value="-"                             
                            ></v-text-field>
                          </v-col>

                          <v-col cols="2">
                            <v-subheader
                              >Lastname</v-subheader>
                          </v-col>
                          <v-col cols="4">
                            <v-text-field                             
                              value="-" 
                               class="mr-5"                            
                            ></v-text-field>
                          </v-col>


                          <v-col cols="3">
                            <v-subheader
                              >Phone number</v-subheader>
                          </v-col>
                          <v-col cols="9">
                            <v-text-field                             
                              value="-" 
                               class="mr-5"                            
                            ></v-text-field>
                          </v-col>

                          <v-col cols="3">
                            <v-subheader
                              >Email</v-subheader>
                          </v-col>
                          <v-col cols="9">
                            <v-text-field                             
                              value="-" 
                               class="mr-5"                            
                            ></v-text-field>
                          </v-col>

                          <div class="buttonsave">
                          <v-btn rounded outlined dark><NuxtLink to="/main" tag="buttom">Save</NuxtLink></v-btn>
                        </div>
                          
                        </v-row>
                      </v-col>
                    </v-row>
                  </v-window-item>
                  
                </v-window>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-content>
    </div>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    step: 1,
  }),
  props: {
    source: String,
  },
};
</script>

<style>
.background {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../assets/bg.jpg");
}
.image {
  position: relative;
  left: 85px;
}
.button {
  position: relative;
  left: 155px;
}
.buttonsave{
  position: relative;
  left: 450px;
}
.text {
  position: relative;
  right: 190px;
}

</style>

