<template>
  <v-app id="inspire">
    <div class="background">
      <v-app-bar color="deep-orange" dark>
        <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>

        <v-toolbar-title>Bambi Inventory</v-toolbar-title>
      </v-app-bar>

      <v-content class="pt-10">
        <v-container class="fill-height" fluid>
          <v-row align="center" justify="center">
            <v-col cols="12" sm="8" md="11">
              <v-card class="elevation-12">
                <v-window v-model="step">
                  <v-window-item :value="1">
                    <v-row>
                      <v-col cols="12" md="0" color="orange">
                        <v-img
                          lazy-src="http://127.0.0.1:5500/Project2021%20User/Project2021%20User/assets/img/gallery/5.img.jpg"
                          max-height="630"
                          max-width="550"
                          src="http://127.0.0.1:5500/Project2021%20User/Project2021%20User/assets/img/gallery/5.img.jpg"
                        ></v-img>
                      </v-col>
                      <v-col cols="12" md="12" class="deep-orange darken-2">
                        <br />
                        <br />
                        <br />
                        <br />
                        <div class="text">
                          <h1 class="text-center display-1">Report</h1>
                        </div>
                        <br />
                        <br>
                        <br>
<v-row>
                            <br>
                            <br>
                            <div class="text2">
                            <h4>PLEASE WRITE A MESSAGE THAT YOU WOULD LIKE TO REPORT.</h4>
                            </div>
                          <v-col cols="12" sm="6" md="12">
                            <v-text-field
                              label="Report"
                              placeholder="Please Enter"
                              outlined
                              class="mx-16"

                            ></v-text-field>
                          </v-col>
                          <div class="buttonsave">
                            <v-btn rounded outlined dark><NuxtLink to="/main" tag="buttom">Submit</NuxtLink></v-btn>
                          </div>
                          <br>
                          <br>
                          <br>
                        </v-row>
                      </v-col>
                    </v-row>
                  </v-window-item>
                </v-window>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-content>
    </div>
  </v-app>
</template>
<script>
export default {
  data: () => ({
    step: 1,
  }),
  props: {
    source: String,
  },
};
</script>

<style>
.button {
  position: relative;
  left: 155px;
}
.buttonsave {
  position: relative;
  left: 630px;
}
.text {
  position: relative;
  right: 20px;
}
.text2{
    position: relative;
  left: 450px;
}
</style>